@import '~antd/dist/antd.css';

.main-layout{
 
  .site-layout .site-layout-background {
    background: #FFFFFF;
  }
  @if(data-theme=="dark")   {
    .site-layout{
      background: #000000 !important;
    }
  }
  .item{ 
    height: 52px;
    margin: 0px !important;
  }
  .site-button{
    width: 200px;
    bottom: 0px;
    position: fixed;
  }
  Footer{
    position: fixed;
    bottom: 48px;
    width: 200px;
  }
  Header{
    vertical-align: middle;
  }
  .logout{
    top:50%;
    float: right;
    margin-right: 3%;
  }
}